@font-face{
	src: url("hare/Harenosora.otf");
	font-family:"はれのそら明朝";
}

@font-face{
	src: url("karakaze_font/karakaze-M.ttf");
	font-family: "からかぜ";
}

body{
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.P{
	font-size: 100px;
}

.hyoushi{
	position: relative;
	/*display: inline-block;*/
	text-align: center;
	margin: 0px;
	width:1000px;
}

.maku{
	
	
}

.makuLWhiteL{
	text-align: right;
	width: 500px;
	position: absolute;
	top: 0;
	left: -40%;
	background-color: #fff;
	z-index: 50;
	animation: openL 1s ease-in-out;
}

.makuL{
	margin-right: -150px;
	animation: horizontala 1s ease-in-out infinite alternate;
}

@keyframes openL{
	0%{
		left: 0%;
	}
	30%{
		left: 0%;
	}
	100%{
		left: -40%;
	}
}

.makuLWhiteR{
	text-align: left;
	width: 500px;
	position: absolute;
	top: 0;
	right: -40%;
	background-color: #fff;
	z-index: 50;
	animation: openR 1s ease-in-out;
}

.makuR{
	margin-left: -150px;
	animation: horizontal 1s ease-in-out infinite alternate;
	/*animation: horizontala 1s ease-in-out infinite alternate;*/
}

@keyframes openR{
	0%{
		right: 0%;
	}
	30%{
		right: 0%;
	}
	100%{
		right: -40%;
	}
}

@keyframes horizontala{
	0%{
		transform: translateX(5px);
	}
	100%{
		transform: translateX(0px);
	}
}



@keyframes horizontal{
	0%{
		transform: scale(-1,1) translateX(5px);
	}
	100%{
		transform: scale(-1,1) translateX(0px); 
	}
}

.title{
	opacity: 0;
    font-family: からかぜ;
    font-size:70px;
    animation:bound1 1.0s 1.0s;
}

@keyframes bound1{
	0%{
		transform: translate(0,-100px) rotate(15deg);
		opacity: 0;
	}
	30%{
		transform: translate(0,15px) rotate(-15deg); 
	}
	40%{
		transform: translate(0,-50px) rotate(0deg);
	}
	55%{
		transform: translate(0,5px) rotate(5deg);
	}
	60%{
		transform: translate(0,-25px) rotate(-5deg);
	}
	70%{
		transform: translate(0,3px) rotate(3deg);
	}
	75%{
		transform: translate(0,-3px) rotate(-3deg);
	}
	100%{
		transform: translate(0px,0px) rotate(0deg);
	}
}


.minititle{
	font-family: からかぜ;
	font-size:41px;
	position: absolute;
	left: 45px;
	top: -25px;
	/*transform-origin: center left;*/
}

.yahho-{
	position: relative;
}

.yahho-,
.minititle{
	/*animation: pepe 0.5s infinite;*/
	transition: .3s;
	-webkit-transform:scale(1);
	transform: scale(1);
}

.yahho-,
.minititle:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*@keyframes pepe{
	0%{
		transform: rotate(0deg);
	}
	10%{
		transform: rotate(-5deg);
	}
	30%{
		transform: rotate(3deg);
	}
	50%{
		transform: rotate(5deg);
	}
	70%{
		transform: rotate(0deg);
	}
	90%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
*/
.naiyou{
    font-family: はれのそら明朝;
    font-size:25px;
}

.naiyou1{
	font-family: はれのそら明朝;
	font-size:27px;
}

.naiyou2{
	font-family: はれのそら明朝;
	font-size:20px;
	text-align: center;
}

.naiyou3{
	font-family: はれのそら明朝;
	font-size: 20px;
	text-align: center;
}

.naiyou4{
	font-family:はれのそら明朝;
	font-size: 20px;
	/*display: inline-block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 20;*/
}

.naiyou5{
	font-family: はれのそら明朝;
	font-size: 16px;
	text-align: center;
	margin-top: 0; 
}


.photo1{
	width:534px;
	height:326px;
	transition: .3s;
	-webkit-transform:scale(1);
	transform: scale(1);
}

.photo1:hover{
		-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.main{
	float:left;
	display: inline-block;
	text-align: center;
}

.photo2{
	width:322px;
	height:174px;
	transition: .3s;
	-webkit-transform:scale(1);
	transform: scale(1);
}

.photo2:hover{
		-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.photo3{
	width:322px;
	height:174px;
	transition: .3s;
	-webkit-transform:scale(1);
	transform: scale(1);
}

.photo3:hover{
		-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tate{
	/*float: right;
	display: inline-block;
	text-align: center;*/
}

.myarts_vertical{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo4{
	width:187.498px;
	height:187.498px;
	animation: Flash1 1s infinite;
	float: right;
}

@keyframes Flash1{
	33%{
		opacity: 0;
	}
	67%{
		opacity: 100;
	}
	
	100%{
		opacity: 50;
	}
}

.swiper-slide{

}

.swiper-slide img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.swiper-slide-active{
/*	width: 226.667px !important;*/
}

.swiper-pagination-bullet{
	background-color: #fff;
}

/*.photo5{
	width:509.651px;
	height:340px;
}

.photo6{
	width:509.651px;
	height:340px;
}

.photo7{
	width:509.651px;
	height:340px;
}*/

.a1{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom: 20px;
	left:0px;
}

.a2{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom:0;
	left:0;
}

.a3{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom: 20px;
	left: 0px;
}

.a4{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom: 0;
	left: 0;
}

.a5{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom: 20px;
	left: 0px;
}

.a6{
	font-family: はれのそら明朝;
	position: absolute;
	color:white;
	bottom: 0;
	left: 0;
}

.recommend{
	display: inline-block;
}

.yoko{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.yoko_contents{
	width: 30%;
}

.photo8{
	width: 100%;
	height: 320px;
	object-fit: cover;
	transition: .3s;
	-webkit-transform:scale(1);
	transform: scale(1);
}

.photo8:hover{
		-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*.YOI{
	position: relative;
	left: 0;
}

.Alice{
	position: relative;
	left:885;
}

.Lemise{
	position: relative;
	right:0;
}*/

.photo9{
	width:185.262px;
	height:185.262px;
	animation: img_box_9955 3s linear infinite ;
	transform-origin: 50% 50%;
	position: absolute;
	right: 0;
	top: -120px;
}

@keyframes img_box_9955 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-10px) }
  66.66667% { transform: translateY(0) }
  100% { transform: translateY(0) }
}

.caption{
	margin-top: 50px;
	animation-name: fade-in3;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes fade-in3{
	0%{
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

.myarts{
	margin-top: 100px;
	animation-name: fade-in3;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes fade-in3{
	0%{
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

.likes{
	margin-top: 150px;
	animation-name: fade-in3;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes fade-in3{
	0%{
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}

}

.recommend{
	margin-top: 200px;
	animation-name: fade-in3;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes fade-in3{
	0%{
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}

}

